node_modules
# Keep environment variables out of version control
.env

# Compilação e Build
dist/
build/
.vscode/

/src/generated/prisma

# Gerador local da Collection Postman (não versionar)
docs/postman-build-qa-collection.py
